@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
  --font-instrument: "Instrument Serif", serif;
  --font-geist: "Geist";
}

@plugin "daisyui" {
  themes: light --default
};
